*{
	border: none;
	padding: 0;
	margin: 0;

	box-sizing: border-box;

	list-style-type: none;
}

.hidden { display: none; }

main {
  width: 1366px;     /* temporary width - will be changed to be responsive */
  padding: 0 10 px 10 px 0;
  margin: 0 auto;
  /*temporary border - so I can view the site dimensions */
  border: thin dashed #333;
}

/* navigation bar */

#top_bar {
  background-color: rgb(70, 70, 70);
  width: 1366px;
  height: 179px;
  display: flex;
  justify-content: space-around; /* to even out items in nar bar */
}

.home {
  background-color: rgb(235, 235, 235);
  width: 98px;
  height: 40px;
	text-align: center;
	position: relative;  /* to move items within another div */
	top: 75px;
}

.page2 {
  background-color: rgb(235, 235, 235);
  width: 98px;
  height: 40px;
	text-align: center;
	position: relative;
	top: 75px;
}

.page3 {
  background-color: rgb(235, 235, 235);
  width: 98px;
  height: 40px;
	text-align: center;
	position: relative;
	top: 75px;
}

.page4 {
  background-color: rgb(235, 235, 235);
  width: 98px;
  height: 40px;
	text-align: center;
	position: relative;
	top: 75px;
}

.page5 {
  background-color: rgb(235, 235, 235);
  width: 98px;
  height: 40px;
	text-align: center;
	position: relative;
	top: 75px;
}

.page6 {
  background-color: rgb(235, 235, 235);
  width: 98px;
  height: 40px;
	text-align: center;
	position: relative;
	top: 75px;
}

.logo {
  background-color: rgb(235, 235, 235);
  position: relative;
  width: 210px;
  height: 158px;
	top: 16px;
}

/* main hook image and content */

.welcome_title {
  background-color: rgb(235, 235, 235);
  position: relative;
  left: 510px;
  top: 224px;
  width: 333px;
  height: 73px;
}

.join_us_button {
  background-color: rgb(235, 235, 235);
  position: relative;
  left: 610px;
  top: 380px;
  width: 143px;
  height: 52px;
}

.hook_image {
  background-color: rgb(161, 161, 161);
  top: 0px;
  width: 1366px;
  height: 916px;
}

/* mission section */

#mission_title_container {
  background-color: rgb(235, 235, 235);
  top: 916px;
  width: 1366px;
  height: 185px;
}

.mission_title {
    background-color: rgb(161, 161, 161);
    position: relative;
    left: 478px;
    top: 50px;
    width: 410px;
    height: 57px;
  }


.mission_image {
  background-color: rgb(161, 161, 161);
  top: 1101px;
  width: 1366px;
  height: 281px;
}

/* events section */

#events_text_container1 {
  background-color: rgb(0, 0, 255);
  width: 1366px;
  height: 198px;
  position: relative;
}


.mission_statement_text {
  background-color: rgb(161, 161, 161);
  left: 145px;
  width: 1075px;
  height: 49px;
  position: relative;
  top: 45px;
}

.events_title {
  background-color: rgb(161, 161, 161);
  left: 478px;
  width: 410px;
  height: 57px;
  position: relative;
  top: 81px;
}

#events_image_container {
  background-color: rgb(152, 30, 30);
  width: 1366px;
  height: 331px;
  display: flex;
  justify-content: space-around;
}

#events_text_container2 {
  background-color: rgb(235, 235, 235);
  width: 1366px;
  height: 300px;
  display: flex;
  justify-content: space-around;
}

#events_title_container {
  background-color: rgb(235, 235, 235);
  top: 916px;
  width: 1366px;
  height: 185px;
}

#events_image_container2 {
  background-color: rgb(152, 30, 30);
  width: 1366px;
  height: 331px;
	display: flex;
	justify-content: space-around;
}


#events_text_container3 {
  background-color: rgb(235, 235, 235);
  width: 1366px;
  height: 317px;
	display: flex;
	justify-content: space-around;
}

.events_text_container2 {
  background-color: rgb(235, 235, 235);
  width: 1366px;
  height: 185px;
}

#events_title_container2 {
  background-color: rgb(235, 235, 235);
  width: 1366px;
  height: 185px;
	position: relative;
}

.previousEvents_title {
  background-color: rgb(161, 161, 161);
	left: 491px;
  width: 410px;
  height: 57px;
	position: relative;
}

.events_image_1 {
  background-color: rgb(161, 161, 161);
  width: 274px;
  height: 266px;
  text-align: center;
  position: relative;
  top: 30px;
}

.events_image_2 {
  background-color: rgb(161, 161, 161);
  width: 274px;
  height: 266px;
  text-align: center;
  position: relative;
  top: 30px;
}

.events_image_3 {
  background-color: rgb(161, 161, 161);
  width: 274px;
  height: 266px;
  text-align: center;
  position: relative;
  top: 30px;
}


.events_text_1 {
  background-color: rgb(161, 161, 161);
  width: 408px;
  height: 170px;
  text-align: center;
  position: relative;
  top: 15px;
}

.events_text_2 {
  background-color: rgb(161, 161, 161);
  width: 394px;
  height: 248px;
  text-align: center;
  position: relative;
  top: 15px;
}

.events_text_3 {
  background-color: rgb(161, 161, 161);
  width: 380px;
  height: 171px;
  text-align: center;
  position: relative;
  top: 15px;
}

/* page 2 event section */

.events_image_4 {
  background-color: rgb(161, 161, 161);
  width: 274px;
  height: 266px;
  text-align: center;
  position: relative;
  top: 30px;
}

.events_image_5 {
  background-color: rgb(161, 161, 161);
  width: 274px;
  height: 266px;
  text-align: center;
  position: relative;
  top: 30px;
}

.events_image_6 {
  background-color: rgb(161, 161, 161);
  width: 274px;
  height: 266px;
  text-align: center;
  position: relative;
  top: 30px;
}


.events_text_4 {
  background-color: rgb(161, 161, 161);
  width: 408px;
  height: 170px;
  text-align: center;
  position: relative;
  top: 15px;
}

.events_text_5 {
  background-color: rgb(161, 161, 161);
  width: 394px;
  height: 248px;
  text-align: center;
  position: relative;
  top: 15px;
}

.events_text_6 {
  background-color: rgb(161, 161, 161);
  width: 380px;
  height: 171px;
  text-align: center;
  position: relative;
  top: 15px;
}

/* shop section */

.shop_container {
  background-color: rgb(161, 161, 161);
  top: 0px;
  width: 1366px;
  height: 514px;
}

.merchandise {
  background-color: rgb(235, 235, 235);
  position: relative;
  left: 437px;
  top: 75px;
  width: 483px;
  height: 368px;
}

/* sponsor section */

.sponsor_title_container {
    background-color: rgb(0, 0, 255);
    width: 1366px;
    height: 125px;
}

.sponsors_title {
  background-color: rgb(161, 161, 161);
  left: 478px;
  width: 410px;
  height: 57px;
  position: relative;
  top: 31px;
}

#sponsors_container {
  background-color: rgb(237, 28, 36);
  width: 1365px;
  height: 273px;
}

/* contact section */

#contact_us_container {
  background-color: rgb(149, 149, 149);
  top: 2611px;
  width: 1366px;
  height: 700px;
}

.contact_title {
  background-color: rgb(235, 235, 235);
  position: relative;
  left: 499px;
  top: 50px;
  width: 410px;
  height: 57px;
}

.name_box {
  background-color: rgb(235, 235, 235);
  position: relative;
  left: 322px;
  top: 100px;
  width: 731px;
  height: 74px;
}

.email_box {
  background-color: rgb(235, 235, 235);
  position: relative;
  left: 322px;
  top: 125px;
  width: 731px;
  height: 74px;
}

.message_box {
  background-color: rgb(235, 235, 235);
  position: relative;
  left: 322px;
  top: 150px;
  width: 731px;
  height: 237px;
}

.send_button {
  background-color: rgb(70, 70, 70);
  position: relative;
  left: 538px;
  top:175px;
  width: 291px;
  height: 77px;
}

/* footer */

#copyright {
  background-color: rgb(235, 235, 235);
  top: 3311px;
  width: 1366px;
  height: 85px;
}
